<div class="card">
    <h5 class="card-header">
        Add ticket
    </h5>
    <div class="card-body">
        <form [formGroup]="descriptionForm" (ngSubmit)="submitTicket(descriptionForm.value)">
            <div class="card-text">
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" formControlName="description"
                        placeholder="Enter description">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>