<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <h2>Tickets</h2>

            <div *ngIf="usersAndTickets$ | async as usersAndTickets; else loading">
                <ul class="row list-unstyled">
                    <li class="col-4" *ngFor="let ticket of usersAndTickets.tickets">
                        <app-ticket [ticket]="ticket" [user]="getTicketAssigneeUser(ticket, usersAndTickets.users)">
                        </app-ticket>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>