<div class="card">
    <h5 class="card-header">
        <div class="d-flex">
            <div class="pr-2">Ticket: {{ ticket.id }}</div>
            <div class="ml-auto">
                <span class="badge badge-primary" *ngIf="!ticket.completed">In progress</span>
                <span class="badge badge-Success" *ngIf="ticket.completed">Completed</span>
            </div>
        </div>
    </h5>
    <div class="card-body">
        <h5 class="card-title">Assignee User: {{ user.name}}</h5>
        <p class="card-text">{{ ticket.description }}</p>
        <div class="row">
            <div class="col-6">
                <a href="#" class="btn btn-primary w-100">Edit</a>
            </div>
            <div class="col-6">
                <button class="btn btn-primary w-100 btn-success">Complete</button>
            </div>
        </div>
    </div>
</div>